## Average Rating of All Movies in a Genre, sorted by rating descending

In [43]:
%%bigquery
SELECT t.genres, AVG(averageRating) as averageGenreRating
FROM imdb_modeled.title_Beam_DF t
JOIN imdb_modeled.TitleRatings r 
ON t.tConst = r.tConst
WHERE genres != ""
GROUP BY t.genres
ORDER BY averageGenreRating DESC

         genres  averageGenreRating
0       Western            7.342864
1       History            7.223170
2   Documentary            7.206711
3         Crime            7.205579
4     Biography            7.152169
5         Sport            7.043328
6     Adventure            6.966564
7        Action            6.948558
8         Music            6.918464
9     Animation            6.897207
10       Comedy            6.890577
11        Drama            6.874916
12   Reality-TV            6.783414
13      Musical            6.747252
14      Mystery            6.707771
15       Family            6.704784
16    Film-Noir            6.686111
17        Short            6.683825
18      Fantasy            6.653589
19    Talk-Show            6.607579
20          War            6.493408
21    Game-Show            6.481333
22      Romance            6.422060
23       Sci-Fi            6.403208
24        Adult            6.325120
25     Thriller            5.913966
26         News            5.514471
27       Horror            5.512135

## Directors of Greater than 2000 movies, sorted in descending order by the number of movies they have directed

In [1]:
%%bigquery
SELECT director, primaryName, COUNT(director) as numberOfFilms
FROM imdb_modeled.Directs_Beam_DF
JOIN imdb_modeled.Cast c ON c.nConst = director
GROUP BY director, primaryName
HAVING numberOfFilms > 2000
ORDER BY numberOfFilms desc
LIMIT 30

      director        primaryName  numberOfFilms
0    nm0565214     Kevin McCarthy           5969
1    nm0022750         Paul Alter           5891
2    nm5460792      Shashank Bali           4503
3    nm0107757       Marc Breslow           4023
4    nm1667633      Anil V. Kumar           3841
5    nm0141225        Dick Carson           3433
6    nm7809044     Khalil Herekar           3200
7    nm4337659        Pawan Kumar           3148
8    nm6908650       Romesh Kalra           2986
9    nm4027968    Dharmessh Mehta           2983
10   nm1337210       Chuck O'Neil           2860
11   nm0960965     Kaushik Ghatak           2834
12   nm0181656        Mark Corwin           2737
13   nm0757877    Alfredo Saldaña           2690
14   nm1258596         Ucik Supra           2188
15  nm11227024  Dharani G. Ramesh           2092
16  nm10727483              Ramji           2079
17   nm1323599      Brian McAloon           2072

## Cast members for small scale movies (having less than 30 cast members) that have recieved greater than 100,000 votes ordered by average Ratings

In [41]:
%%bigquery
SELECT DISTINCT t.primaryTitle, averageRating, numVotes, k.nConst, c.primaryName
FROM imdb_modeled.TitleRatings tr
JOIN imdb_modeled.title_Beam_DF t
ON t.tConst = tr.tConst
RIGHT JOIN imdb_modeled.knownForTitles_Beam_DF k
ON k.tConst = t.tConst
JOIN imdb_modeled.Cast c
ON c.nConst = k.nConst
WHERE numVotes > 1e5
AND t.tConst IN 
  (
  SELECT tConst
  FROM
    (
    SELECT COUNT(nConst) as castSize, tConst
    FROM imdb_modeled.knownForTitles_Beam_DF
    WHERE tConst != "\\N"
    GROUP BY tConst
    HAVING castSize < 30
    )
  )
ORDER BY averageRating desc
LIMIT 50

         primaryTitle  averageRating  numVotes     nConst        primaryName
0        12 Angry Men            8.9    637383  nm0322302   James A. Gleason
1        12 Angry Men            8.9    637383  nm0767847        John Savoca
2        12 Angry Men            8.9    637383  nm0083081       Edward Binns
3        12 Angry Men            8.9    637383  nm0912001        Jack Warden
4        12 Angry Men            8.9    637383  nm0001486       Sidney Lumet
5        12 Angry Men            8.9    637383  nm0903667    George Voskovec
6        12 Angry Men            8.9    637383  nm0548338        Bob Markell
7        12 Angry Men            8.9    637383  nm0585655       Saul Midwall
8        12 Angry Men            8.9    637383  nm0006132     Kenyon Hopkins
9        12 Angry Men            8.9    637383  nm0842137     Joseph Sweeney
10       12 Angry Men            8.9    637383  nm0442100      Boris Kaufman
11       12 Angry Men            8.9    637383  nm0433183      George Justin
12       12 Angry Men            8.9    637383  nm0550855      E.G. Marshall
13       12 Angry Men            8.9    637383  nm0254454       Faith Hubley
14       12 Angry Men            8.9    637383  nm0118217     Herman Buchman
15       12 Angry Men            8.9    637383  nm0002011        Lee J. Cobb
16       12 Angry Men            8.9    637383  nm0916434      Robert Webber
17       12 Angry Men            8.9    637383  nm0275835       John Fiedler
18       12 Angry Men            8.9    637383  nm0000020        Henry Fonda
19       12 Angry Men            8.9    637383  nm0000842      Martin Balsam
20       12 Angry Men            8.9    637383  nm0469838         Don Kranze
21       12 Angry Men            8.9    637383  nm0503594        Carl Lerner
22       12 Angry Men            8.9    637383  nm0741627      Reginald Rose
23       12 Angry Men            8.9    637383  nm0001430       Jack Klugman
24       12 Angry Men            8.9    637383  nm0003225          Ed Begley
25           Rashomon            8.2    141410  nm0559688  Takashi Matsuyama
26           Rashomon            8.2    141410  nm0712315      Maurice Ravel
27  Dial M for Murder            8.2    146134  nm0841733     Claude Swanner
28           Rashomon            8.2    141410  nm0879918     Kichijirô Ueda
29  Dial M for Murder            8.2    146134  nm0334076    Herschel Graham
30  Dial M for Murder            8.2    146134  nm2970582      Lillian House
31           Rashomon            8.2    141410  nm0793766    Takashi Shimura
32  Dial M for Murder            8.2    146134  nm0001537        Ray Milland
33  Dial M for Murder            8.2    146134  nm0070507     Richard Bender
34           Rashomon            8.2    141410  nm0906737    Mitsuo Wakasugi
35           Rashomon            8.2    141410  nm0619211    Masaichi Nagata
36           Rashomon            8.2    141410  nm0477553        Machiko Kyô
37           Rashomon            8.2    141410  nm0368074  Shinobu Hashimoto
38  Dial M for Murder            8.2    146134  nm0270458          Rudi Fehr
39  Dial M for Murder            8.2    146134  nm0164349          Pat Clark
40           Rashomon            8.2    141410  nm0441961       Daisuke Katô
41  Dial M for Murder            8.2    146134  nm0461425    Frederick Knott
42  Dial M for Murder            8.2    146134  nm0500216       George Leigh
43           Rashomon            8.2    141410  nm0609442       H. Motsumoto
44           Rashomon            8.2    141410  nm0156928      Minoru Chiaki
45  Dial M for Murder            8.2    146134  nm1107752    Robert G. Wayne
46           Rashomon            8.2    141410  nm0370593     Fumio Hayasaka
47           Rashomon            8.2    141410  nm0423122       Minoru Jingo
48           Rashomon            8.2    141410  nm0645474    Kenichi Okamoto
49  Dial M for Murder            8.2    146134  nm0400902       Robin Hughes

## Query to Union the Writes and Directs tables together and count the number of instances of a person in either table. Sorted in descending order, and only including people who have written and directed greater than 3000 movies

In [2]:
%%bigquery
SELECT wd.nConst, primaryName, COUNT(wd.nConst) as numberOfMovies
FROM 
  (
  SELECT Writer as nConst 
  FROM imdb_modeled.Writes_Beam_DF
  UNION ALL
  SELECT director as nConst
  FROM imdb_modeled.Directs_Beam_DF
  ) wd
JOIN imdb_modeled.Cast c
ON wd.nConst = c.nConst
GROUP BY wd.nConst, primaryName
HAVING numberOfMovies > 3000
ORDER BY numberOfMovies desc

        nConst         primaryName  numberOfMovies
0    nm0565214      Kevin McCarthy            5969
1    nm0022750          Paul Alter            5891
2    nm0417224       Armand Jammot            5428
3    nm0914844          Reg Watson            4824
4    nm5460792       Shashank Bali            4650
5    nm0555609          Franz Marx            4458
6    nm6352729  Leena Gangopadhyay            4389
7    nm0107757        Marc Breslow            4023
8    nm1667633       Anil V. Kumar            3841
9    nm7149567      Thomas Sanders            3758
10   nm0896874      Geraldo Vietri            3614
11   nm0141225         Dick Carson            3433
12   nm7809044      Khalil Herekar            3200
13  nm10927214   Abhijeet Pednekar            3199
14   nm0129828      Anthony Caleca            3152
15   nm4337659         Pawan Kumar            3148
16   nm0163210        Janete Clair            3080
17   nm5203198          Zama Habib            3057

## Longest Martin Scorsese film

In [1]:
%%bigquery
SELECT MAX(runtimeMinutes) as minutes
FROM imdb_modeled.Titles t
WHERE tConst IN 
  (
  SELECT tConst
  FROM imdb_modeled.knownForTitles_Beam_DF kft
  WHERE nConst =
    (
    SELECT nConst
    FROM imdb_modeled.People p
    WHERE primaryName = 'Martin Scorsese'
    )
  )

   minutes
0      146

## Average rating of Martin Scorsese films

In [2]:
%%bigquery
SELECT AVG(averageRating) as averageRating
FROM imdb_modeled.TitleRatings
WHERE tConst IN 
  (
  SELECT tConst
  FROM imdb_modeled.knownForTitles_Beam_DF kft
  WHERE nConst =
    (
    SELECT nConst
    FROM imdb_modeled.People p
    WHERE primaryName = 'Martin Scorsese'
    )
  )

   averageRating
0          7.875

## Create a view of the genre ratings

In [8]:
%%bigquery
CREATE OR REPLACE VIEW imdb_modeled.v_Rated_Genres AS
SELECT t.genres, AVG(averageRating) as averageGenreRating
FROM `starry-center-266501.imdb_modeled.title_Beam_DF` t
JOIN `starry-center-266501.imdb_modeled.TitleRatings` r 
ON t.tConst = r.tConst
WHERE genres != ""
GROUP BY t.genres
ORDER BY averageGenreRating DESC
LIMIT 20

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery
SELECT * FROM imdb_modeled.v_Rated_Genres

         genres  averageGenreRating
0       Western            7.342864
1       History            7.223170
2   Documentary            7.206711
3         Crime            7.205579
4     Biography            7.152169
5         Sport            7.043328
6     Adventure            6.966564
7        Action            6.948558
8         Music            6.918464
9     Animation            6.897207
10       Comedy            6.890577
11        Drama            6.874916
12   Reality-TV            6.783414
13      Musical            6.747252
14      Mystery            6.707771
15       Family            6.704784
16    Film-Noir            6.686111
17        Short            6.683825
18      Fantasy            6.653589
19    Talk-Show            6.607579

## Create a view of most directings

In [6]:
%%bigquery
CREATE OR REPLACE VIEW imdb_modeled.v_Most_Directings AS
SELECT primaryName, COUNT(director) as numberOfFilms
FROM `starry-center-266501.imdb_modeled.Directs_Beam_DF`
JOIN `starry-center-266501.imdb_modeled.Cast` c 
ON c.nConst = director
GROUP BY director, primaryName
HAVING numberOfFilms > 2000
ORDER BY numberOfFilms desc
LIMIT 30

Empty DataFrame
Columns: []
Index: []

In [1]:
%%bigquery
SELECT * FROM imdb_modeled.v_Most_Directings

          primaryName  numberOfFilms
0      Kevin McCarthy           5969
1          Paul Alter           5891
2       Shashank Bali           4503
3        Marc Breslow           4023
4       Anil V. Kumar           3841
5         Dick Carson           3433
6      Khalil Herekar           3200
7         Pawan Kumar           3148
8        Romesh Kalra           2986
9     Dharmessh Mehta           2983
10       Chuck O'Neil           2860
11     Kaushik Ghatak           2834
12        Mark Corwin           2737
13    Alfredo Saldaña           2690
14         Ucik Supra           2188
15  Dharani G. Ramesh           2092
16              Ramji           2079
17      Brian McAloon           2072